html
	h3 Configure below
	form(name="configure", method="post")
		div.input
			span.label Port Number: 
			input(type="text", name="port")
		div.input
			span.label Longitude: 
			input(type="text", name="longitude")
		div.input
			span.label Latitude: 
			input(type="text", name="latitude")	
		div.input
			span.label Address: 
			input(type="text", name="address")
		div.input
			span.label Subscription Manager Address: 
			input(type="text", name="submanAddress")
		div.actions
			input(type="submit", value="Login")
