html
	head
		div.container
			ul.row-md-12.row
				a(href="/")
					li.row-md-3.row-md-offset-1 Home
				a(href="/SunCycleConfig")
					li.row-md-3 Sun Cycle Server Config
				a(href="/TimeConfig")
					li.row-md-3 Timer Config
	body
		block content